@using Repository.DomainModels
@inject Microsoft.AspNetCore.Identity.SignInManager<Customer> signInManager;
@inject Microsoft.AspNetCore.Identity.UserManager<Customer> userManager;

<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
   <!-- #Header  -->
   <!-- #Body -->
   @RenderBody()

   <script src="~/lib/jquery/dist/jquery.js"></script>
</body>

</html>